.register_page-body {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.main_box-register {
  max-width: 50rem;
  width: 50rem;
  height: 45rem;
  border-radius: 1rem;
  border: 0.2rem solid #c03a2b63;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.textInputRegister {
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem 0;
}

.inputRegister {
  border: none;
  outline: none;
  padding-top: 4rem;
  border-bottom: 0.2rem solid #c0392b;
  width: 30rem;
  font-size: 2rem;
}

.buttonRegister {
  width: 15rem;
  height: 4rem;

  outline: none;
  border: none;
  color: white;

  background: linear-gradient(to right, #c0392b, #8e44ad);

  margin-top: 6rem;
  cursor: pointer;
  border-radius: 0.7rem;
}

.buttonRegister:hover {
  background: linear-gradient(to right, #912418, #7e329e);
}