.goal-container {
  width: 34rem;
  height: 5rem;
  justify-content: space-between;
  align-items: center;

  display: flex;
}

.goal-text {
  font-size: 2rem;
}

.goal-delete-icon {
  font-size: 3rem;
}

.goal-delete-icon:hover {
  color: rgb(29, 29, 29);
}